body {
  background-color: #e9edf9;
  color: #8798ad;
  text-align: center;
}

h1 {
  color: #2e384d;
}

.neutral {
  background-color: #0b6bf2;
  color: #fff;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-weight : bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}

